@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Righteous&family=Work+Sans:wght@100;200;300;400;600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    /* background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)),
    url(img/backgroundSpeedTestInternetApp.jpg); */
    background-image: url(img/backgroundSpeedTestInternetApp.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-image: linear-gradient(#001aff9f, #36e3e9);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    padding: 0 2em 1em;
    border-radius: 1em;
    font-size: 1.2em;
    line-height: 1.6em;
    box-shadow: 0 1.6em 2.4em rgba(40, 4, 67, 0.3);
}

.container img{
    width: 100%;
}
#startButton {
    font-family: 'Righteous';
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #0c7dc9ce;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#startButton:hover {
    background-color: rgba(1, 24, 230, 0.76); 
}

p{
    font-weight: 400;
    color: #000000;
}
span{
    font-weight: 400;
    color: #020274;
}